
{% extends 'layout.html.twig' %}{% block main %}

    <h1 class="text-center">Gérer les villes</h1>
    <h2>Filtrer les villeus</h2>

    <div class="recherche">
        <label for="start">Le nom contient :   </label>
        <input id="oSaisie" name="oSaisie" type="text" class="form-control" aria-label="Saisie de mots clés" required="required">
        <div class="input-group-append">
            <button TYPE="submit" class="btn btn-primary">Rechercher</button>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="villeus list">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">villeus</th>
                        <th scope="col">Actions</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <td>  <ul class="list-group">
                                {%  for ville in villes %}



                                    <li class="list-group-item list-group-item-light">
                                        <a href="{{ path('main', {id: ville.id}) }}" > <span>{{ ville.nomville }}</span></a>
                                    </li>

                                {%  endfor %}
                            </ul>
                        </td>


                        <td>  <ul class="list-group">
                                {%  for ville in villes %}



                                    <li  class="list-group-item list-group-item-light">

                                        <span ><a href="{{ path('main', {id: ville.id}) }}"> <span>Modifier</span></a></span>
                                        <span>&nbsp;</span>
                                        <span ><a href="{{ path('main', {id: ville.id}) }}"> <span>Supprimer</span></a></span>
                                    </li>

                                {%  endfor %}
                            </ul>
                        </td></tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>


    <div class="btn btn_back">
        <button type="button" onclick="goBack()" class="btn btn-primary">Retour</button>

    </div>
{% endblock %}{% block title %} Les sorties ! {% endblock %}

