
{% extends 'layout.html.twig' %}{% block main %}

    <h1 class="text-center">Gérer les campus</h1>
    <h2>Filtrer les campus</h2>

    <div class="recherche">
        <label for="start">Le nom contient :   </label>
        <input id="oSaisie" name="oSaisie" type="text" class="form-control" aria-label="Saisie de mots clés" required="required">
        <div class="input-group-append">
            <button TYPE="submit" class="btn btn-primary">Rechercher</button>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="campus list">
                {#  <form method="post" action="{ }"></form> #}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Campus</th>
                        <th scope="col">Actions</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <td>  <ul class="list-group">
                         {%  for camp in campus %}



                                    <li class="list-group-item list-group-item-light">
                                        <input type="text" id="libelle" name="libelle">
                                    </li>

                            {%  endfor %}
                            </ul>
                        </td>


                        <td>  <ul class="list-group">
                                {%  for camp in campus %}

                                    <li  class="list-group-item list-group-item-light">

                                        <span ><a href="{{ path('campus', {id: camp.id}) }}"> <span>Valider</span></a></span>
                                        <span>&nbsp;</span>
                                        <span ><a href="{{ path('main', {id: camp.id}) }}"> <span>Supprimer</span></a></span>
                                    </li>

                                {%  endfor %}
                            </ul>
                        </td></tr>
                    </tbody>
                </table>

                <div class="btn btn-action">
                    <button TYPE="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>


    <div class="btn btn_back">
        <button type="button" onclick="goBack()" class="btn btn-primary">Retour</button>

    </div>
{% endblock %}{% block title %} Les sorties ! {% endblock %}

