{% extends 'main/layout.html.twig' %}

{% block main %}
    <h2> Ajouter un évènement </h2>

    {# todo: afficher le formulaire qui permet d'entrer des données #}
{% endblock %}

{% block title %} Ajoutez votre évènement {% endblock %}