{% extends 'layout.html.twig' %}

{% block main %}
    <h2> Détail d'une sortie</h2>

    {# todo: afficher les détails de la sortie selectionnée #}
{% endblock %}

{% block title %} Titre de notre sortie! {% endblock %}