{% extends 'layout.html.twig' %}

{% block main %}
    <h2> Détail de la sortie</h2>

        <div class="event"> {{ event.nom }} </div>
        <div> {{ event.descriptioninfos }}</div>



{% endblock %}

{% block title %} Les sorties ! {% endblock %}