{% extends 'layout.html.twig' %}

{% block main %}
    <h2> Liste des sorties</h2>

    {%  for event in events %}
    <div class="event">

        <a href="{{ path('evenement_detail', {'id': event.id}) }}" title="En voir plus sur l'évènement {{ event.nom }}">
            {{ event.nom }}
        </a>

    </div>
    {%  endfor %}
{% endblock %}

{% block title %} Les sorties ! {% endblock %}