{% extends 'layout.html.twig' %}

{% block main %}
    <h2> Liste des sorties</h2>

    //afficher la liste des sorties
    {%  for evenement in sorties %}
    <div class="event">
        {{ evenement.list.name }}
        {{ evenement.detail.name }}
    </div>
    {%  endfor %}
{% endblock %}

{% block title %} Les sorties ! {% endblock %}