{% extends ("layout.html.twig") %}

{% block title %}
    Inscription
{% endblock %}
{% block main %}
    {% form_theme registerForm 'bootstrap_4_layout.html.twig' %}
    {{  form_start(registerForm) }}


    {{ form_widget(registerForm) }}
    {{ form_errors(registerForm) }}

    <br>
    <button class="btn btn-primary" type="submit">Envoyer</button>
    <button type="reset" class="btn btn-primary">Annuler</button>
    {{ form_end(registerForm) }}
{% endblock %}